# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build


target
# Compiled class file
*.class

# Log file
*.log
logs/

# Package Files #
*.war
*.jar
!gradle-wrapper.jar

#eclipse/STS
.project
.springBeans
.metadata
bin/
tmp/
*.tmp
*.bak
.classpath
.settings/

#idea
.DS_Store
.idea/
*.iml

# Terrafrom

.terraform/
terraform.*
.terraform.*
